{% extends 'base.html' %}


{% block title %} Hello Twilio {% endblock %}


{% block content %}

<div class="row">
	<div class="col-md-4">
		<div class="card">
			{% if event_title %}
				<h1>{{event_title}}</h1>
			{% endif %}
			<hr>
			{% if start_time and end_time %}
				<h3>{{ moment(start_time, true).calendar() }} {{ moment(start_time, true).format('h:mm a') }} to {{ moment(end_time, true).format('h:mm a') }}</h3>
			{% endif %}
			{% if description %}
				<p>{{description}}</p>
			{% endif %}
			<a class="btn btn-primary" id="getAttendees">Get Attendees</a>
		</div>
	</div>
	<div class="col-md-8">
		<div id="feed-bg" class="card no-border">
			<div class="result"></div>
			<div class="feed"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>
	<script src="https://js.pusher.com/4.3/pusher.min.js"></script>
	<script src="{{ url_for('static', filename='js/feed.js') }}"></script>
{% endblock %}
